<form asp-action="Create">
    <p>
        <label>He so A:</label>
        <input type="text" name="a">
    </p>
    <p>
        <label>He so B:</label>
        <input type="text" name="b">
    </p>
    <p>
        <label>He so C:</label>
        <input type="text" name="c">
    </p>
    <p>
        <input type="submit" value="Giai phuong trinh bậc 2">
    </p>
</form>
<h3>@ViewBag.thongBao</h3>