<form asp-action="Index">  

    <p>

        <label>Hệ số A:</label>

        <input type="text" name="hesoA">

    </p>

     <p>

        <label>Hệ số B:</label>

        <input type="text" name="hesoB">

    </p>

     <p>

        <input type="submit" value="tính giá trị">

    </p>



</form>

<h2>@ViewBag.mess</h2>